//$body-bg: #bada55;
$gray-base: #454545;
$brand-primary: #34495E;
$font-family-sans-serif: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; 
$headings-font-weight: 100;

@import "bootstrap";

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: underline;
	background: transparent;
}