.site-header {
	position: relative;
	background: $brand-primary;
	background-size: cover;
	min-height: 500px;
}

.site-header > canvas.particles-js-canvas-el {
	position: absolute !important;
	top: 0 !important;
	height: auto !important;
}

.site-header h1 {
	color: #fff;
}

.site-header p {
	color: #047BF9;
	font-size: 22px;
	text-align: center;
	max-width: 660px;
	letter-spacing: 0.091em;
	margin: 0 auto;
}

.navbar-nav a {
	color: #fff;
	letter-spacing: 0.1em;
}

.navbar-brand {
	height: auto;
}

.navbar-brand > img {
	height: 40px;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}